// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

// http://www.zingdesign.com/responsive-website-design-cheatsheet1/

$base-color: white;
$v-font-family: "JF Flat","Open Sans", sans-serif, FontAwesome;

$header-height: 63px;

$popup-view-z-index: 3;

@mixin file-icon($file-name) {
	background-image: url('images/icons/ext/mantis/#{$file-name}');
	background-repeat: no-repeat;
	background-position: 10px 10px;
	background-position-y: center;

	.v-table-cell-wrapper {
		position: relative;
		text-align: left;
		left: 20px;
	}
}

@mixin folder-icon($file-name) {
	background-image: url('images/icons/folder/#{$file-name}.png');
	background-repeat: no-repeat;
	background-position: 2px 10px;

	.v-table-cell-wrapper {
		position: relative;
		text-align: left;
		left: 20px;
	}
}

@mixin folder2-icon($file-name) {
	background-image: url('images/icons/folder2/#{$file-name}.png');
	background-repeat: no-repeat;
	background-position: 2px 10px;

	.v-table-cell-wrapper {
		position: relative;
		text-align: left;
		left: 20px;
	}
}

@mixin constellio {

	.valo-menu {
		.valo-menu-part {
		    padding-top: inherit;
  			overflow-x: hidden;
  			line-height: 35px;
	
			.valo-menu-item {
			    color: white;
			    font-size: 13px;
			    
				.v-icon {
		        	color: white; 
		        	font-size: 1.4em;
				}
			
				&:hover {
					color: #197de1;
				}
		
				&.selected {
					background: $v-selection-color;
					
					.v-icon {
			        	color: white; 
					}
					
					&:hover {
						color: white;
					}
				}
			
			}
		}
		
		.valo-menu-constellio-version {
			text-align: center;
			color: inherit;
			font-size: 0.7em;
			text-decoration: none;
			white-space: inherit;
			width: 100%;
			
			&:hover {
				text-decoration: underline;
				color: #197de1;
			}
		}
	}

	.red-star {
	    color: red;
	}

	.v-menubar-user-menu {
		margin: 0;
		
  		 > .v-menubar-menuitem img.v-icon {
  			width: 32px;
  			height: 32px;
  			padding: 0;
  			display: inherit;
  			margin-right: 6px;
  		}
	}

	.v-button-primary {
		min-width: inherit;
	}

    .v-button.chevron:focus:after  {
        box-shadow: none;
        border: none;
        -webkit-box-shadow: none;
    }

	.djs-container .highlight .djs-outline {
	   stroke-width: 2px important;
	   stroke: #08c !important;
	}

	.djs-container .highlight .djs-visual>:nth-child(1) {
	   fill: rgba(255, 221, 0, 1.00) !important;
	}

	.v-tabsheet-tabitem {
		.tab-badge {
		    -webkit-transition: background-color 300ms;
		    -moz-transition: background-color 300ms;
		    transition: background-color 300ms;
		    line-height: 1;
		    padding: 4px 8px;
		    min-width: 11px;
		    text-align: center;
		    top: 4px;
		    border-radius: 28px;
		    background-color: #fafafa;
		    //background-image: -webkit-linear-gradient(top, #fafafa 2%, #efefef 98%);
		    //background-image: linear-gradient(to bottom,#fafafa 2%, #efefef 98%);
		    color: rgb(105, 105, 105);
		    right: 12px;
		    font-size: 12px;
		    font-weight: 500;
		    pointer-events: none;
		}
	}

	.tabsheet-secondary {
		.v-tabsheet-tabitemcell {
			.v-caption {
				font-size: 14px;
			}
		}

		.v-tabsheet-tabsheetpanel {
			font-size: 14px;
		}
	}

	.user-display {
		.user-display-icon img {
			height: 28px;
			width: 28px;
			border-radius: 29px 29px 29px 29px;
		}

		.user-display-name {
			padding-left: 4px;
			padding-top: 6px;
		}
	}

	.star-field-starred {
		color: #f9ca4f;
	}

	.compact-menubar .v-menubar-submenu-indicator  + .v-menubar-menuitem-caption:after {
		display:none;
	}
	
	.v-menubar-popup [class*="disabled"] {
	    cursor: pointer;
	}
	
	.v-slot-modify-profile-image .v-widget {
		text-align: center;
	}

	.task-management-view {
		.v-menubar .v-menubar-submenu-indicator  + .v-menubar-menuitem-caption:after {
			display:none;
		}

		.v-menubar-popup {
			border-radius: 0;

			.v-menubar-menuitem {
				border-radius: 0;
				padding-left: 20px;
				font-size: 12px;
			}
		}

		.v-slot-task-action-buttons {
			margin-top: -36px;
			padding-right: 10px;
			position: relative;
			top: 82px;
			z-index: 1000;
		}

		.v-tabsheet-tabitem {
			.v-caption {
				z-index: 1001;
			}
		}
	}

	.task-table-layout {

		.v-slot-task-table-controls {
		    border-bottom-color: #dfdfdf;
			border-bottom-style: solid;
			border-bottom-width: 1px;
			border-bottom: collapse;
			border-radius: 0px;

			.task-table-controls {
				font-size: 14px;
				height: 30px;
			}

			.task-table-filter {
			    border-right-color: #dfdfdf;
				border-right-style: solid;
				border-right-width: 1px;
				border-right: collapse;
				padding-right: 12px;
				border-radius: 0px;
			}

			.v-caption-task-table-sort {
				position: relative;
				top: -1px;
				padding-top: 2px;
				display: inline-block;
				line-height: initial;
			}

			.task-table-sort {
			    padding-bottom: 20px;
				position: relative;
				top: 1px;
				
				.v-filterselect, .v-filterselect-suggestmenu {
					line-height: initial;
				}

				.v-filterselect-button:before {
					content: "\f078";
					line-height: 0px;
				}
			}
			
			.task-table-sort-asc-button, .task-table-sort-desc-button {
				height: initial;
			}

			.task-table-sort-asc-button {
				padding-right: 12px;
			}
		}

		.v-caption-task-table {
			display:none;
		}

		.task-table {
		    border-bottom-color: #dfdfdf;
			border-bottom-style: solid;
			border-bottom-width: 1px;
			border-bottom: collapse;
			border-spacing: 0px 0px;

			.v-table-cell-content {
				vertical-align: top;

				.v-table-cell-wrapper {
					padding-top: 10px;
				}
			}

			.task-details {
				padding-bottom: 10px;
				padding-left: 6px;
				margin-top: 0px;

				.user-display {
					font-size: 14px;
				}

				.task-details-top {
					height: 28px;
				}

				.task-details-contents-info {
					font-size: 16px;
				}

				.task-details-created-on {
					padding-top: 8px;
					font-size: 12px;
					color: rgb(156, 165, 175);
				}

				.v-captiontext, .task-details-due-date, .v-caption-task-details-assignee, .v-caption-task-details-comments, .v-caption-task-details-linked-folders, .v-caption-task-details-linked-documents, .v-caption-task-details-linked-containers {
					font-size: 14px;
					color: rgb(156, 165, 175);
				}

				.v-slot-task-details-workflow-title {
					font-size: 14px;
					position: relative;
					left: 20px;
					padding-right: 20px;
				}

				.v-slot-task-details-assignee, .v-slot-task-details-description, .v-slot-task-details-linked-folders, .v-slot-task-details-contents, .v-slot-task-details-linked-documents, .v-slot-task-details-linked-containers, .v-slot-task-details-comments {
					padding-top: 10px;
				    border-top-color: #dfdfdf;
					border-top-style: solid;
					border-top-width: 1px;
					border-top: collapse;
					border-spacing: 0px 0px;
					position: relative;
					left: 20px;
					padding-right: 20px;
				}

				.task-details-contents {
					.v-link {
						color: black;
					}
				}

				.task-details-contents {
					font-size: 14px;
				}

				.task-details-linked-documents {
					.agent-action-link {
						color: black;
						font-size: 14px;
					}

					.agent-action-link:hover {
						text-decoration: none;
					}
				}

				.v-slot-task-details-description {
					padding-top: 0px;
				}

				.v-slot-task-details-comment-workflow-layout {
					position: relative;
				    top: -10px;
				    margin-top: -23px;
				    z-index: 2;
				    
				    .task-details-comment-workflow-checkbox-layout {
				    	margin-top: 30px;
				    }

				    .v-checkbox {
				    	top: 9px;
				    	font-size: 14px;
				    	padding-right: 6px;
				    	
				    	label {
				    		white-space: initial;
				    	}
				    }

					.v-slot-task-details-add-comment-button {
						position: relative;
					    top: 53px;
					    margin-top: -53px;
					    z-index: 2;
					}
				}

				.v-slot-task-details-add-comment-button {
					position: relative;
				    top: 0px;
				    margin-top: -30px;
				    z-index: 2;
				}

				.v-slot-task-details-add-documents-button {
					position: relative;
				    top: 53px;
				    margin-top: -53px;
				    z-index: 2;
				}

				.task-details-add-comment-button, .task-details-add-documents-button {
				    font-weight: 100;
				    font-size: 14px;
				}

				.task-details-comment-date-time {
					font-size: 12px;
					padding-top: 8px;
					color: rgb(156, 165, 175);
				}

				.task-details-comment-message {
					font-size: 14px;
				    position: relative;
				    top: -8px;
				    padding-left: 32px;
				}
			}
		}

		.task-table [class*="-row"].v-selected {
			outline: 1px solid #197de1;
    		outline-offset: -1px;

    		background-color: inherit;
    		background-image: inherit;
    		background-origin: inherit;
    		text-shadow: inherit;
    		color: inherit;
			//background-color: #197de1;
			//background-image: -webkit-linear-gradient(top, #1b87e3 2%, #166ed5 98%);
			//background-image: linear-gradient(to bottom,#1b87e3 2%, #166ed5 98%);
			//background-origin: border-box;
			//color: #ecf2f8;
			//text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05);
		}

		.clickable-row {
	    	.v-table-body {
	    		tr, .reference-display {
	    			cursor: default;
	    		}

				&:hover {
					border-color: #197de1;
    				color: red;
    				background-color: white;
    				text-decoration: none;
    			}
	    	}
		}
	}


	.v-Notification-caption {
		z-index: 20003;
	}

	.nicetitle-link {
		cursor: pointer !important;	
	}

	.nicetitle-link-disabled  {
		text-decoration: none;
		//color: rgb(71, 71, 71);
	    opacity: 0.5;
	    filter: alpha(opacity=50);
	    cursor: default;
	}

	.nicetitle-link-disabled:hover {
		//color: rgb(71, 71, 71);
	    opacity: 0.5;
	    cursor: default;
	}

	.auto-scroll {
		overflow: auto;
	}

	.no-scroll {
		overflow: hidden;
	}

	.no-scroll-horizontal {
		overflow-x: hidden;
	}

	.no-scroll-vertical {
		overflow-y: hidden;
	}

	.horizontal-option-group {
		white-space: normal;
	}

	.button-badge {
		position:relative;
	}
	
	.button-badge[data-badge]:after {
		content:attr(data-badge);
		position:absolute;
		top:-10px;
		right:-20px;
		font-size:.7em;
		background:#197de1;
		color:white;
		width:24px; 
		height:18px;
		text-align:center;
		line-height:18px;
		border-radius:0%;
		box-shadow:0 0 1px #333;
		z-index: 1;
	}

	.v-tabsheet-tabitemcell {
		.v-caption {
			font-size: $v-font-size;
		}
	}
	
	.v-label-h1 {
		font-size: 21.6px;
		font-weight: bold;
	}

	.v-tooltip {
	    font-weight: bold;
	    background-color: #197de1;
	    color: white;
	    font-size: 13px;
	    font-family: Verdana, Helvetica, Arial, sans-serif;
		-webkit-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
		box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
		padding: 5px 9px;
		border-radius: 3px;
		max-width: 35em;
		overflow: hidden !important;
	}

    // Insert your own theme rules here

    .v-treetable {
    	.v-table-cell-wrapper {
    		cursor: pointer;

	    	.v-icon {
	    		padding-right: 6px;
	    	}

	    	.v-horizontallayout {
	    		.v-slot {
	    			line-height: 0px;

	    			.v-label {
	    				line-height: initial;
	    			}
	    		}
	    	}
    	}

    	.v-table-cell-wrapper:hover {
    		color: white;
			background-color: #197de1;
    	}
    }

    .v-table-cell-content-file-icon-box {
		background-image: url('images/icons/container/box.png');
		background-repeat: no-repeat;
		background-position: 2px 10px;

		.v-table-cell-wrapper {
			position: relative;
			text-align: left;
			left: 20px;
		}
	}

	.v-table-cell-content-file-icon-task {
		background-image: url('images/icons/task/task.png');
		background-repeat: no-repeat;
		background-position: 2px 10px;

		.v-table-cell-wrapper {
			position: relative;
			text-align: left;
			left: 20px;
		}
	}

	.v-table-cell-content-file-icon-chm {
		@include file-icon(unquote("chm.gif"));
	}

	.v-table-cell-content-file-icon-cpp {
		@include file-icon(unquote("cpp.gif"));
	}

	.v-table-cell-content-file-icon-css {
		@include file-icon(unquote("css.gif"));
	}

	.v-table-cell-content-file-icon-csv {
		@include file-icon(unquote("csv.gif"));
	}

	.v-table-cell-content-file-icon-doc {
		@include file-icon(unquote("doc.gif"));
	}

	.v-table-cell-content-file-icon-document {
		@include file-icon(unquote("document.gif"));
	}

	.v-table-cell-content-file-icon-docx {
		@include file-icon(unquote("docx.gif"));
	}

	.v-table-cell-content-file-icon-docm {
		@include file-icon(unquote("docm.gif"));
	}

	.v-table-cell-content-file-icon-eml {
		@include file-icon(unquote("eml.gif"));
	}

	.v-table-cell-content-file-icon-gif {
		@include file-icon(unquote("gif.gif"));
	}

	.v-table-cell-content-file-icon-html {
		@include file-icon(unquote("html.gif"));
	}

	.v-table-cell-content-file-icon-jpg {
		@include file-icon(unquote("jpg.gif"));
	}

	.v-table-cell-content-file-icon-mhtml {
		@include file-icon(unquote("mhtml.gif"));
	}

	.v-table-cell-content-file-icon-mid {
		@include file-icon(unquote("mid.gif"));
	}

	.v-table-cell-content-file-icon-mov {
		@include file-icon(unquote("mov.gif"));
	}

	.v-table-cell-content-file-icon-msg {
		@include file-icon(unquote("msg.gif"));
	}

	.v-table-cell-content-file-icon-odb {
		@include file-icon(unquote("odb.gif"));
	}

	.v-table-cell-content-file-icon-odf {
		@include file-icon(unquote("odf.gif"));
	}

	.v-table-cell-content-file-icon-odg {
		@include file-icon(unquote("odg.gif"));
	}

	.v-table-cell-content-file-icon-odp {
		@include file-icon(unquote("odp.gif"));
	}

	.v-table-cell-content-file-icon-ods {
		@include file-icon(unquote("ods.gif"));
	}

	.v-table-cell-content-file-icon-odt {
		@include file-icon(unquote("odt.gif"));
	}

	.v-table-cell-content-file-icon-one {
		@include file-icon(unquote("one.gif"));
	}

	.v-table-cell-content-file-icon-pcx {
		@include file-icon(unquote("pcx.gif"));
	}

	.v-table-cell-content-file-icon-pdf {
		@include file-icon(unquote("pdf.gif"));
	}

	.v-table-cell-content-file-icon-png {
		@include file-icon(unquote("png.gif"));
	}

	.v-table-cell-content-file-icon-pot {
		@include file-icon(unquote("pot.gif"));
	}

	.v-table-cell-content-file-icon-pps {
		@include file-icon(unquote("pps.gif"));
	}

	.v-table-cell-content-file-icon-ppt {
		@include file-icon(unquote("ppt.gif"));
	}

	.v-table-cell-content-file-icon-pptx {
		@include file-icon(unquote("pptx.gif"));
	}

	.v-table-cell-content-file-icon-pub {
		@include file-icon(unquote("pub.gif"));
	}

	.v-table-cell-content-file-icon-reg {
		@include file-icon(unquote("reg.gif"));
	}

	.v-table-cell-content-file-icon-text {
		@include file-icon(unquote("text.gif"));
	}

	.v-table-cell-content-file-icon-tif {
		@include file-icon(unquote("tif.gif"));
	}

	.v-table-cell-content-file-icon-tiff {
		@include file-icon(unquote("tiff.gif"));
	}

	.v-table-cell-content-file-icon-unknown {
		@include file-icon(unquote("unknown.gif"));
	}

	.v-table-cell-content-file-icon-vsd {
		@include file-icon(unquote("vsd.gif"));
	}

	.v-table-cell-content-file-icon-vsl {
		@include file-icon(unquote("vsl.gif"));
	}

	.v-table-cell-content-file-icon-vst {
		@include file-icon(unquote("vst.gif"));
	}

	.v-table-cell-content-file-icon-wav {
		@include file-icon(unquote("wav.gif"));
	}

	.v-table-cell-content-file-icon-wbk {
		@include file-icon(unquote("wbk.gif"));
	}

	.v-table-cell-content-file-icon-wri {
		@include file-icon(unquote("wri.gif"));
	}

	.v-table-cell-content-file-icon-xls {
		@include file-icon(unquote("xls.gif"));
	}

	.v-table-cell-content-file-icon-xlsx {
		@include file-icon(unquote("xlsx.gif"));
	}

	.v-table-cell-content-file-icon-xlsm {
		@include file-icon(unquote("xlsm.gif"));
	}

	.v-table-cell-content-file-icon-xlt {
		@include file-icon(unquote("xlt.gif"));
	}

	.v-table-cell-content-file-icon-xml {
		@include file-icon(unquote("xml.gif"));
	}

	.v-table-cell-content-file-icon-zip {
		@include file-icon(unquote("zip.gif"));
	}

	.v-table-cell-content-file-icon-mp3 {
		@include file-icon(unquote("mp3.gif"));
	}

	.v-table-cell-content-file-icon-mp4 {
		@include file-icon(unquote("mp4.gif"));
	}

	.v-table-cell-content-file-icon-wmv {
		@include file-icon(unquote("wmv.gif"));
	}

	.v-table-cell-content-file-icon-flv {
		@include file-icon(unquote("flv.gif"));
	}

	.v-table-cell-content-file-icon-folder {
		@include folder-icon(folder);
	}

	.v-table-cell-content-file-icon-folder_orange {
		@include folder-icon(folder_orange);
	}

	.v-table-cell-content-file-icon-folder_grey {
		@include folder-icon(folder_grey);
	}

	.v-table-cell-content-file-icon-folder_purple {
		@include folder-icon(folder_purple);
	}

	.v-table-cell-content-file-icon-folder_frozen {
		@include folder-icon(folder_frozen);
	}
	
	
	

	.v-table-cell-content-file-icon-folder_orange_frozen {
		@include folder-icon(folder_orange_frozen);
	}

	.v-table-cell-content-file-icon-folder_orange_locked {
		@include folder-icon(folder_orange_locked);
	}

	.v-table-cell-content-file-icon-folder_grey_frozen {
		@include folder-icon(folder_grey_frozen);
	}

	.v-table-cell-content-file-icon-folder_grey_locked {
		@include folder-icon(folder_grey_locked);
	}

	.v-table-cell-content-file-icon-folder_purple_frozen {
		@include folder-icon(folder_purple_frozen);
	}

	.v-table-cell-content-file-icon-folder_purple_locked {
		@include folder-icon(folder_purple_locked);
	}

    .v-table-cell-content-file-icon-grey_empty_folder_closed {
       @include folder2-icon(grey_empty_folder_closed);
    }

    .v-table-cell-content-file-icon-grey_empty_folder_opened {
       @include folder2-icon(grey_empty_folder_opened);
    }

    .v-table-cell-content-file-icon-orange_analog_folder_closed {
        @include folder2-icon(orange_analog_folder_closed);
    }

    .v-table-cell-content-file-icon-orange_analog_folder_frozen_closed {
        @include folder2-icon(orange_analog_folder_frozen_closed);
    }

    .v-table-cell-content-file-orange_analog_folder_frozen_opened {
       @include folder2-icon(orange_analog_folder_frozen_opened);
    }

    .v-table-cell-content-file-orange_analog_folder_locked_close {
       @include folder2-icon(orange_analog_folder_locked_close);
    }

    .v-table-cell-content-file-icon-orange_analog_folder_locked_opened {
       @include folder2-icon(orange_analog_folder_locked_opened);
    }

    .v-table-cell-content-file-icon-orange_analog_folder_opened {
       @include folder2-icon(orange_analog_folder_closed);
    }

    .v-table-cell-content-file-icon-orange_empty_folder_closed {
        @include folder2-icon(orange_empty_folder_closed);
    }

    .v-table-cell-content-file-icon-orange_empty_folder_opened {
        @include folder2-icon(orange_empty_folder_opened);
    }

    .v-table-cell-content-file-icon-orange_hybrid_folder_closed {
       @include folder2-icon(orange_hybrid_folder_closed);
    }

    .v-table-cell-content-file-icon-orange_hybrid_folder_frozen_opened {
       @include folder2-icon(orange_hybrid_folder_frozen_opened);
    }

    .v-table-cell-content-file-icon-orange_hybrid_folder_frozen_closed {
       @include folder2-icon(orange_hybrid_folder_frozen_closed);
    }

    .v-table-cell-content-file-icon-orange_hybrid_folder_locked_closed {
       @include folder2-icon(orange_hybrid_folder_locked_closed);
    }

    .v-table-cell-content-file-icon-orange_hybrid_folder_locked_opened {
       @include folder2-icon(orange_hybrid_folder_locked_opened);
    }

    .v-table-cell-content-file-icon-orange_hybrid_folder_opened {
       @include folder2-icon(orange_hybrid_folder_opened);
    }

    .v-table-cell-content-file-icon-orange_numerical_folder_closed {
       @include folder2-icon(orange_numerical_folder_closed);
    }

    .v-table-cell-content-file-icon-orange_numerical_folder_frozen_closed {
       @include folder2-icon(orange_numerical_folder_frozen_closed);
    }

    .v-table-cell-content-file-icon-orange_numerical_folder_frozen_opened {
       @include folder2-icon(orange_numerical_folder_frozen_opened);
    }
    .v-table-cell-content-file-icon-orange_numerical_folder_locked_closed {
       @include folder2-icon(orange_numerical_folder_locked_closed);
    }

    .v-table-cell-content-file-icon-orange_numerical_folder_locked_opened {
       @include folder2-icon(orange_numerical_folder_locked_opened);
    }

    .v-table-cell-content-file-icon-orange_numerical_folder_opened {
       @include folder2-icon(orange_numerical_folder_opened);
    }

    .v-table-cell-content-file-icon-purple_numerical_folder_closed {
        @include folder2-icon(purple_numerical_folder_closed);
    }

    .v-table-cell-content-file-icon-purple_numerical_folder_opened {
        @include folder2-icon(purple_numerical_folder_opened);
    }

    .v-table-cell-content-file-icon-purple_analog_folder_closed {
       @include folder2-icon(purple_analog_folder_closed);
    }

    .v-table-cell-content-file-icon-purple_analog_folder_opened {
       @include folder2-icon(purple_analog_folder_opened);
    }

    .v-table-cell-content-file-icon-purple_empty_folder_closed {
       @include folder2-icon(purple_empty_folder_closed);
    }

    .v-table-cell-content-file-icon-purple_empty_folder_opened {
       @include folder2-icon(purple_empty_folder_opened);
    }

    .v-table-cell-content-file-icon-purple_hybrid_folder_closed {
       @include folder2-icon(purple_hybrid_folder_closed);
    }

    .v-table-cell-content-file-icon-purple_hybrid_folder_opened {
       @include folder2-icon(purple_hybrid_folder_opened);
    }

    .v-table-cell-content-file-icon-yellow_analog_folder_closed {
       @include folder2-icon(yellow_analog_folder_closed);
    }

    .v-table-cell-content-file-icon-yellow_analog_folder_frozen_closed {
       @include folder2-icon(yellow_analog_folder_frozen_closed);
    }

    .v-table-cell-content-file-icon-yellow_analog_folder_frozen_opened {
       @include folder2-icon(yellow_analog_folder_frozen_opened);
    }

    .v-table-cell-content-file-icon-yellow_analog_folder_locked_opened {
       @include folder2-icon(yellow_analog_folder_locked_opened);
    }

    .v-table-cell-content-file-icon-yellow_analog_folder_opened {
       @include folder2-icon(yellow_analog_folder_opened);
    }

    .v-table-cell-content-file-icon-yellow_empty_folder_closed {
       @include folder2-icon(yellow_empty_folder_closed);
    }

    .v-table-cell-content-file-icon-yellow_empty_folder_opened {
       @include folder2-icon(yellow_empty_folder_opened);
    }

    .v-table-cell-content-file-icon-yellow_analog_folder_locked_opened {
       @include folder2-icon(yellow_analog_folder_locked_opened);
    }

    .v-table-cell-content-file-icon-yellow_empty_folder_closed {
       @include folder2-icon(yellow_empty_folder_closed);
    }

    .v-table-cell-content-file-icon-yellow_empty_folder_opened {
       @include folder2-icon(yellow_empty_folder_opened);
    }

    .v-table-cell-content-file-icon-yellow_hybrid_folder_closed {
       @include folder2-icon(yellow_hybrid_folder_closed);
    }

    .v-table-cell-content-file-icon-yellow_hybrid_folder_frozen_closed {
       @include folder2-icon(yellow_hybrid_folder_frozen_closed);
    }

    .v-table-cell-content-file-icon-yellow_hybrid_folder_frozen_opened {
       @include folder2-icon(yellow_hybrid_folder_frozen_opened);
    }

    .v-table-cell-content-file-icon-yellow_hybrid_folder_locked_closed {
       @include folder2-icon(yellow_hybrid_folder_locked_closed);
    }

    .v-table-cell-content-file-icon-yellow_hybrid_folder_locked_opened {
       @include folder2-icon(yellow_hybrid_folder_locked_opened);
    }

    .v-table-cell-content-file-icon-yellow_hybrid_folder_opened {
       @include folder2-icon(yellow_hybrid_folder_opened);
    }

    .v-table-cell-content-file-icon-yellow_numerical_folder_closed {
       @include folder2-icon(yellow_numerical_folder_closed);
    }

    .v-table-cell-content-file-icon-yellow_numerical_folder_frozen_closed {
       @include folder2-icon(yellow_numerical_folder_frozen_closed);
    }

    .v-table-cell-content-file-icon-yellow_numerical_folder_frozen_opened {
       @include folder2-icon(yellow_numerical_folder_frozen_opened);
    }

    .v-table-cell-content-file-icon-yellow_numerical_folder_locked_closed {
       @include folder2-icon(yellow_numerical_folder_locked_closed);
    }

    .v-table-cell-content-file-icon-yellow_numerical_folder_locked_opened {
       @include folder2-icon(yellow_numerical_folder_locked_opened);
    }

    .v-table-cell-content-file-icon-yellow_numerical_folder_opened {
       @include folder2-icon(yellow_numerical_folder_opened);
    }


	.v-table-cell-content-error {
		color: red;
		font-weight: bold;
	}

	.v-table-cell-content-important {
		font-weight: bold;
	}

	.v-table-cell-content-disabled {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,cccccc+100;Gren+3D */
		background: rgb(238,238,238); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
	}

	.v-table-cell-content-highlight {
		background-color: #ffed7c;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff3019+0,cf0404+100;Red+3D */
		background: #ffed7c; /* Old browsers */
		background: -moz-linear-gradient(top,  #ffed7c 0%, #ffdd00 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffed7c), color-stop(100%,#ffdd00)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #ffed7c 0%,#ffdd00 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #ffed7c 0%,#ffdd00 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #ffed7c 0%,#ffdd00 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #ffed7c 0%,#ffdd00 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffed7c', endColorstr='#ffdd00',GradientType=0 ); /* IE6-9 */
	}

   .v-table-cell-visited-link {
		color: #551A8B;
   }

	.v-slot-disabled-button {
	    opacity: 0.4;
	    filter: alpha(opacity=40); /* msie */
	}
	
	.v-contextmenu {
		.popupContent {
			overflow-y: auto;
			overflow-x: hidden;
            .gwt-MenuBar {
                overflow-y: auto;
            }
		}
	}

    body, div, p, h2, h3, pre {
		-webkit-user-select: text;
    }

    .h1 {
    	padding-left: 10px;
    }
    
    .v-panel, .v-textfield, .v-datefield, .v-textarea, .v-filterselect, .v-button, .v-menubar, .v-menubar-popup, .v-menubar-popup .v-menubar-menuitem, .v-menubar-borderless .v-menubar-menuitem, .v-menubar > .v-menubar-menuitem:first-child, .v-menubar > .v-menubar-menuitem:first-child:last-child, .v-menubar > .v-menubar-menuitem:last-child, .v-menubar-borderless .v-menubar-menuitem:first-child, .v-menubar-borderless .v-menubar-menuitem:last-child, .v-menubar-borderless .v-menubar-menuitem:first-child:last-child, .v-tree-node-caption:after {
    	border-radius: 0;
    }

    .v-slot-login-panel, .v-slot-setup-panel {
    	background-image: url(images/background.jpg);
		background-repeat: no-repeat;

		.login-logo {
			width: 100%;
			text-align: center;
			vertical-align: bottom;
		}
    }

    .footer-warning {
    	font-weight: bold;
    	color: red;
    }

	.base-display {
		
		.base-display-main-layout {
			width: 100%;
		}

		.v-label-undef-w {
			white-space: normal;
		}

    	.v-disabled {
    		opacity: inherit;
    		color: inherit;
    	}
	}

    .display-caption {
    	width: 300px;
    	word-wrap: break-word;
		border-bottom: 1px dotted #dfdfdf;
    	font-weight: bold;
	}

    .display-value, .v-caption-display-value {
    	text-align: left;
    	font-size: inherit;
    	word-break: break-word;
    	padding-left: 10px;
    }
		
	.v-caption-record-comments {    
		border-bottom: 1px dotted rgb(223, 223, 223);
	    font-weight: bold;
	    width: 300px;
	    padding-left: 0px;
	}
	
	.record-comments {
		width: 100%;
		
		.v-slot-record-comments {
			position: relative;
			top: -30px;
		}
		
		.record-comments-layout {
			.v-slot-record-add-comment-button {
			    margin-bottom: -10px;
			    z-index: 2;
			    padding-right: 10px;
			}
	
			.record-add-comment-button {
			    font-weight: 100;
			    font-size: 14px;
			}
			
			.user-display-icon {
				position: relative;
				top: 4px;
			}
	
			.record-comment-date-time {
				font-size: 12px;
				padding-top: 8px;
				color: rgb(156, 165, 175);
			}
	
			.record-comment-message {
				font-size: 14px;
			    position: relative;
			    top: -8px;
			    padding-left: 32px;
			}
			
			.delete-record-comment-button {
				position: relative;
				top: -2px;
			}
		}
	}

	.error-label {
		color: red;
		border: 1px solid red;
	}

	.important-label {
		color: red;
	}

	.lookup-window-content {
		.lookup-information-icon {
    		cursor: pointer;
		}
	}

    .lookup-window-content, .document-window-content {
    	padding-top: 10px;
    	padding-left: 10px;
    	
    	.v-panel {
    		.v-panel-content {
    			overflow-y: auto;
    		}
    	}
    }

   .panel-no-scroll {
   		overflow-x: hidden;
   		overflow-y: hidden;
   	}

    .viewable-record-window {
   		width: 100%;

   		.main-component-wrapper {
   			//overflow-y: auto;

   			.base-display-tab-panel {

   				.v-panel-content {
   					height: calc(100% - 170px);
   				}

   			}
   		}

   		.list-add-remove-comment {
   			width: 100%;

   			.v-slot-list-add-remove {
   				width: 100%;
	   			.v-has-caption {
	   				background-color: red;
	   				width: 100%;
	   			}
   			}

	   		.record-comments-editor {
	   		}
   		}
    }

    .autocomplete {
    	width:100%;
    	
        .v-filterselect-input {
        	padding-right: 0px;
        }

    	.v-filterselect-button {
    		display:none;
    	}
    }

    .link.display-value {
        padding-left: 10px;
    }

    .link {
	    text-align: left;
    	padding: 0;
    	text-decoration: none;
    }

    .link:focus:after {
		box-shadow: none;
		border: none;
	}

	.link:hover {
		text-decoration: underline;
	}

    .v-disabled:hover {
    	text-decoration: none;
    }
    	
    .v-lazyloadingwrapper-loading {
	    background-color: white;
	    border: none;
	    //background-image: url("img/loading-indicator.gif");
	    //background-repeat: no-repeat;
	    //background-position: 50% center;
	    //border: 2px solid silver;
	}
    
    .v-filterselect {
    	width: 100%;
    }
    	
    .v-lazyloadingwrapper-loading {
	    background-color: white;
	    border: none;
	    //background-image: url("img/loading-indicator.gif");
	    //background-repeat: no-repeat;
	    //background-position: 50% center;
	    //border: 2px solid silver;
	}
    
    .v-filterselect-suggestmenu {
    	.gwt-MenuItem {
    		padding-left: 0px;
    		padding-right: 0px;
    		span {
    			padding-left: 10px;
    		}
    	}
    }

    .filters-panel {
    	.v-filterselect {
    		height: 23px;
    	}
    }

    .autocomplete-error, .lookup-error {
    	.v-filterselect-input {
	    	border-color: #ed473b !important;
			background: #fffbfb;
			color: #6c2621;
    	}
    }

    .list-add-remove-error {
    	border-color: #ed473b !important;
		background: #fffbfb;
		color: #6c2621;
    }

	.permission-dirty {
		background-color: orange;
	}

	.xbreadcrumbs {
		background-color: #FFFFFF;
		height: auto;
		font-size: 16px;
		padding-right: 220px;

		.v-link a span,.xbreadcrumbbutton .v-button-caption {
			font-size: 0.9em;
		}

		li {
			height: auto;
		}

		.v-slot-current {
			display: block;
		}

		.current {
			font-size: 24px;
			position: relative;
			top: -3px;

		     .v-button-caption {
				color: black;
		     }
		}

		.xbreadcrumbbutton {
		    height: auto;
		    white-space: normal;
		    opacity: 1.0;

		     .v-button-caption {
		     	color: #197de1;
		     }
		}

	}
	
	.information-capsule {
		min-height: 38px;
	    position: relative;
	    border-radius: 10px;
	    padding: 10px 10px 10px 10px;
	    margin: 0 0 0 0px;
	    box-shadow: inset 0px 5px 15px -12px rgba(0, 0, 0, 1);
	    
	    background-color: #ebebeb;
		background-image: url('images/icons/suggestion.png');
		background-repeat: no-repeat;
	    background-position: left center; 
	    
		.information-capsule-title {
			font-weight: bold;
			padding-left: 50px;
		}
		
		.information-capsule-content {
			padding-bottom: 15px;
			padding-left: 60px;
		}
	}
	
	.thesaurus-disambiguation, .spell-checker {
		min-height: 38px;
	    position: relative;
	    border-radius: 10px;
	    padding: 10px 10px 10px 10px;
	    margin: 0 0 0 0px;
	    box-shadow: inset 0px 5px 15px -12px rgba(0, 0, 0, 1);
	    
	    background-color: #ebebeb;
		background-image: url('images/icons/suggestion.png');
		background-repeat: no-repeat;
	    background-position: left center; 
	
		.disambiguation-title {
			padding-left: 50px;
		}
		
		.spell-checker-message {
			font-weight: bold;
		}
		
		.spell-checker-suggestions {
			padding-top: 15px;
			padding-bottom: 15px;
		}
		
		.disambiguation-suggestions, .spell-checker-suggestions {
			padding-left: 60px;
		
			.disambiguation-suggestion, .spell-checker-suggestion, .deleteLogically-button {
				height: inherit;
			}
			
			.spell-checker-suggestion-and-exclude {
				
				.spell-checker-suggestion-remove {
					width: 20px;
				}
			
			}
			
			.spell-checker-suggestion-remove-visible {
			    border: 1px solid #3a434d;
			    border-radius: 4px;
			    margin-left: 5px;
			}
		
		}
		
	}
	
	.thesaurus-semantic-network {
		min-height: 38px;
	    position: relative;
	    border-radius: 10px;
	    padding: 10px 10px 10px 10px;
	    margin: 0 0 0 0px;
	    box-shadow: inset 0px 5px 15px -12px rgba(0, 0, 0, 1);
	    
	    background-color: #ebebeb;
	
		.thesaurus-semantic-network-title {
			font-weight: bold;
			font-size: 0.923em;
		    line-height: 24px;
		    margin: 0;
		    font-weight: bold;
		    background: url('images/icons/thesaurus-semantic-network.gif') left center no-repeat;
		    padding: 8px 0 8px 40px;
		    max-width: 900px;
		}
		
		.thesaurus-semantic-network-columns {
			width: 100%;
			padding-left: 20px;
			font-size: 0.85em;
			color: rgb(156, 165, 175);
		
			.thesaurus-semantic-network-column {
				min-width: 33%;
				padding-right: 15px;
				
				.thesaurus-semantic-network-suggestion:before {
				    font-family: FontAwesome;
					font-size: 0.5em;
					content: "\f111;"; 
					padding-right: 15px;
				}
				
				.thesaurus-semantic-network-suggestion {
					height: 14px;
				}
			}
		
		}
	
	}

	.action-menu {
		z-index: 2;
	}

	.action-menu-bar-layout {
		.v-button, .v-link {
			z-index: 1002;
		}
	}	
	
	.v-window[width-range~="0-800px"], .v-window[width-range~="801-1100px"] {
		.responsive-button {
			[class*="caption"] {
				display: none;
			}
		}
		
		.base-display {
			.v-slot-display-value {
				float: left;
			}
		}
			
		.v-slot-action-menu-bar-layout {    
		    top: -50px;
		    margin-bottom: -50px;
		}
		
		.v-slot-borrowed-document-message {
			padding-bottom: 10px;
		} 
	}
	
	.v-window {
	
		.popupContent {
			z-index: 20001;

			.v-window-restorebox {
				height: initial;
			}

			.v-window-closebox {
				height: initial;
			}

			.v-window-maximizebox {
				height: initial;
			}
			
			.v-slot-borrowed-document-message {
				max-height: 30px;
				vertical-align: center;
			}

			.action-menu-wrapper {

			}

			.action-menu {
		        position: absolute;
		        top: $header-height;
		        right: 20px;
		        margin-top: 70px;
	
				.v-button {
					padding-left: 8px;
			    	color: white;
			    	font-weight: normal;
					text-decoration: none;
					font-size: 14px;
					width: 100%;
					border-radius: 0;
					text-align: left;
					border: none;
	
				    background-color: #414B56;
					//background-image: -webkit-linear-gradient(right, #38414a 0%, #414B56 9px);
					background-image: linear-gradient(to left,#38414a 0%, #414B56 9px);
				}
	
			    .v-button:hover {
			    	color: #197de1;
				    background-color: #3a434d;
			    }
	
			    .v-button:after {
					box-shadow: none;
					border: none;
			    }
	
			    .v-disabled:hover {
			    	color: white;
				    background-color: #414B56;
			    }
		    }

			.v-caption-action-menu-bar {
				display: none;
			}

		    .action-menu-bar {
		    	z-index: 2000;
		    	position: absolute;
		    	top: -40px;
		    	right: 30px;
			}
			
			.v-slot-action-menu-bar-layout {    
				padding-right: 20px;
			    position: relative;
			    //top: -50px;
			    //margin-bottom: -50px;
			    text-align: right;
			}

			.action-menu-bar-layout {

				.v-button {
					padding-left: inherit;
			    	color: #197de1;
			    	font-weight: inherit;
					text-decoration: inherit;
					font-size: inherit;
					width: inherit;
					border-radius: inherit;
					text-align: inherit;
					border: inherit;

				    background-color: inherit;
					//background-image: -webkit-linear-gradient(right, #38414a 0%, #414B56 9px);
					background-image: inherit;
				}

			    .v-button:hover {
			    	color: #197de1;
				    background-color: inherit;
				    text-decoration: underline;
			    }

			    .v-button:after {
					box-shadow: inherit;
					border: inherit;
			    }

			    .v-disabled:hover {
			    	color: inherit;
				    background-color: inherit;
			    }

			    .action-menu-bar {
			    	top: 0px;
			    	right: 0px;
			    }
			}

			.no-caption-action-menu-bar .v-menubar-submenu-indicator + .v-menubar-menuitem-caption:after {
				display:none;
			}

			.action-menu-wrapper {
				overflow: auto;
	            padding-right: 260px;
	            padding-left: 10px;

			    width: 225px;
			    border: 1px solid #3a434d;
			    border-radius: 4px;

				.back-button {
					position: fixed;
				}
	
				.base-display {
					.v-slot-display-value {
						.display-value {
	            			padding-right: 300px;
	            			
	            			.agent-link {
	            				padding-right: 26px;
	            			}
						}
					
						.v-label-display-value {
	            			margin-right: 300px;
						}
						
						.reference-display {
	            			padding-right: 300px;
						}
					}
						
					.record-comments-layout {
						width: 100%;
						
						.v-slot-list-add-remove-comment {
							width: 100%;
							
							.list-add-remove-comment {
								width: 100%;
								padding-left: 0px;
							}
						}
					}	
	
					.v-has-caption {
						width: 100%;
					}
				}
		
				.retention-rule-display {
					
					.v-slot-display-value {
					
						.display-value-retentionRule_default_copyRetentionRules, .display-value-retentionRule_default_documentCopyRetentionRules {
							padding-right: 0px;
						}
						
					}
				}
	        }
	        
		}
		
		.v-scrollable .base-window-content.consultation-link-window-layout {
			padding-top: 0px;
			
			.consultation-link-window-link {
				padding-bottom: 10px;
			}
		}
		
	}

	.base-window {
		.v-scrollable {

			.base-window-content {
				padding-left: 5px;
				padding-right: 5px;
				padding-top: 25px;
			}

		    .system-state-window-layout {
		    	padding-top: 0px;
		    }

            .base-window-content-with-bottom-margin {
                margin-bottom: 10px;
            }
		}
	}

	.base-window-content-scroll {
		.v-scrollable {
			overflow: hidden;

			.v-panel {
				.v-scrollable {
					overflow: auto;
				}
			}
		}
		
		.v-table {
			.v-scrollable {
				overflow: auto;
			}
		}
	}

    .constellio-menu-system-state-button {
		//margin: 0.3em 0px 0px;
		width: 100%;
		//text-align: left;
		//background: #3a434d;
		
		[class*="caption"] {
			padding-left: 14px;
		}
    }

   	.constellio-menu-system-state-button:hover {
   		color: white;
   	}

   	.v-slot-system-state-window-update-time {
   		float: right;
   		margin-bottom: -24px;
	}

   	.v-slot-system-state-component {
   		.v-captiontext {
		    font-weight: bold;
		    font-size: 16px;
   		}
    }

   	.system-state-component {
   		text-align: center;
   		margin-bottom: 10px;

   		.v-slot-system-state-component-validation-error {
   			padding: 0px 2px;
   		}

   		.system-state-component-validation-error {
   			background-color: white;
   			position: relative;
   		}
   	}

   	.system-state-component-errors {
		border: 2px solid lightsalmon;
   	}

   	.system-state-component-warnings {
		border: 2px solid gold;
   	}

   	.system-state-component-logs {
		border: 2px solid yellowgreen;
   	}
   	
   	.system-state-component-important-message {
   	    font-weight: bold;
	    color: red;
	    font-size: 20px;
   	}

	.user-documents-window {
		opacity: 0.98;

		.user-documents-window-layout {
			padding: 5px;
		}

		.user-documents-window-minimized {
		    position: fixed;
		    bottom: 0;
		    right: 0;
		}

		.user-documents-window-maximized {
		}
	}

	.no-horizontal-drag-hints {
		padding-top: 8px;
		//background-color: #fafafa;

		.v-captiontext:before {
			content: " \f093 \00A0";
		}

		.v-captiontext:after {
			content: " \00A0 ";
		}

		.gwt-FileUpload {
	    	width: 0px;
	    }
	}

	.v-multifileupload-dropzone {
		width: 100%;
		background-color: #fafafa;
		background-image: none;
		padding-top: 8px;

		.v-label {
			font-size: inherit;
		}
	}

	.v-multifileupload-uploads {
	    float: right;
	    position: relative;
	    margin-top: -38px;
	    z-index: 1;
	}

	.base-multifileupload-completed:after {
		content: " \f00c ";
	}
				
	.v-filterselect-suggestpopup-advanced-search-form-metadata {
		.popupContent {
			width: 400px;
		}
	}

	.v-popupview-popup-header-popup {
		width: 100%;

		.header-popup-content-wrapper {
			position: absolute;
			margin: 0 auto;
			top: 52px;
			background-color: #fafafa;
			text-align: center;
			z-index: $popup-view-z-index;
			border-top: none;
			border-left: none;
			border-right: none;
			border-radius: inherit;

			.header-popup-content {
				width: 97%;
				padding-top: 10px;
				padding-bottom: 10px;

				.header-popup-content-label {
					height: 400px;
				}

				.header-popup-clear-and-search-buttons {
					width: 100%;

					.v-slot-advanced-search-button {
					}
				}
			}
		}
	}
				
	.header-selection-panel {
		margin-top: -25px;
		
		.selection-panel-top-layout .v-menubar .v-icon {
		    float: right;
		    margin-right: -4px;
		    margin-left: 4px;
		    margin-top: 2px;
		}
	}

	.v-listbuilder-buttons .v-button-wrap {
		position: absolute;
	}

	.header-popup-content[width-range~="1101px-"] {

		.v-scrollable {
//			overflow: hidden;
		}

    }

	.header-popup-content[width-range~="801px-1100px"] {

		.v-scrollable {
//			overflow: hidden;
		}

    }

	.header-popup-content[width-range~="0-800px"] {
    }

	.back-button {
		position: absolute;
		margin-top: 20px;
		top: -10px;
		right: 20px;
		z-index: 10000;
	}

	.collection-menu {
		border: none;
		box-shadow: none;
	}

	.valo-menu-title .v-menubar-menuitem {
		font-size: inherit;
		color: inherit;
		border: none;
		box-shadow: none;
	}

	.v-tabsheet-content {
		margin-top: 7px;
	}

	.clickable-row {
    	.v-table-body {
    		tr, .reference-display {
    			cursor: pointer;
				color: #696969;

				&:hover {
    				//color: white;
    				//background-color: #197de1;
    				background-color: #e6e6e6;
    				text-decoration: none;
    			}
    		}
    	}
	}

	.v-table {
    	.v-table-body {
			.v-disabled {
				text-align: left;
				opacity: 10%;
				color: black;
			}
				
			.v-slot-icon-only {
				.v-disabled {
					text-align: center;
				}
			}
		}
	}
	
	.force-higher-opacity.v-textarea-force-higher-opacity {
	   	opacity: 2 !important;
	}

	.base-form {
		.v-slot-base-form-field {
			.v-has-caption {
				width: 100%;

				.v-caption {
					font-weight: bold;
				}

				.v-textarea {
					min-width: 100%;
				}

				.v-textfield {
					min-width: 100%;
				}
			}
		}

		.base-form-buttons-layout {
			width: 100%;
			text-align: center;
			padding-bottom: 20px;
		}
	}

	.v-context-menu-container {
		.popupContent {
			display: flex;
		}
	}

    .v-context-menu {
    	padding: 5px;
	    border: 1px solid #3a434d;
	    border-radius: 4px;
	    background-color: #414B56;
		//background-image: -webkit-linear-gradient(right, #38414a 0%, #414B56 9px);
		background-image: linear-gradient(to left,#38414a 0%, #414B56 9px);
			
		.v-context-menu-item-basic, .v-context-menu-item-basic-submenu {
			clear: both;
    		background-color: #414B56;
	    	color: white;
	    	font-weight: normal;
			text-decoration: none;
			font-size: 14px;
//			width: 100%;
			border-radius: 0;
			text-align: left;
			border: none;
			cursor: pointer;
			left: 5px;

			.v-context-menu-item-basic-icon-container {
				float: left;
				padding-right: 3px;
				float: left;
				width: 26px;
				height: 26px;
				margin-right: 5px;
				border-right: 1px solid #d0d0d0;
				text-align: center;

				.v-icon {
					float: left;
					width: 16px;
					height: 16px;
					padding: 5px;
				}
			}

			.v-context-menu-item-basic-text {
				float: left;
				height: 26px;
				line-height: 26px;
				padding: 0 20px 0 10px;
			}
		}

	    .v-context-menu-item-basic:hover {
	    	color: #197de1;
		    background-color: #3a434d;
	    }

	    .v-context-menu-item-basic:after {
			box-shadow: none;
			border: none;
	    }

	    .v-disabled:hover {
	    	color: white;
		    background-color: #414B56;
	    }
	
		.context-menu-item-rtl {
			clear: both;
		
			.v-context-menu-item-basic-icon-container {
				float: right;
			}
			
			.v-context-menu-item-basic-text {
				text-align: right;
				margin-right: 25px;
			}
		}
    }
    
    .v-menubar-submenu.menubar-rtl {
    	.v-menubar-menuitem {
    		clear: both;

	    	.v-menubar-menuitem-caption {
	    		text-align: right;
	    		float: right;
	    		
	    		.v-icon {
	    			float: right;
	    			padding-left: 10px;
	    		}
	    	}
    	}
    }
    
    .header-action-menu.v-menubar-submenu.menubar-rtl, .header-collection-menu.v-menubar-submenu.menubar-rtl {
    	.v-menubar-menuitem {
    		direction: rtl;
    	}
    	
    	.v-menubar-menuitem-checked {
    		.v-menubar-menuitem-caption:before {
	    		left: inherit;
	    		right: 10px;
    		}
    	}
    }
    
	.v-table-row-textRed {
	    color: red;
	}
	
	.confirm-dialog-info {
		background-image: url('images/icons/dialog/information.png');
		background-repeat: no-repeat;
		vertical-align: center;
		display: block;
		
		.confirm-dialog-message {
			padding-left: 40px;
			display: block;
		}
	}
	
	.confirm-dialog-warn {
		background-image: url('images/icons/dialog/sign_warning.png');
		background-repeat: no-repeat;
		vertical-align: center;
		display: block;
		
		.confirm-dialog-message {
			padding-left: 40px;
			display: block;
		}
	}
	
	.confirm-dialog-error {
		background-image: url('images/icons/dialog/error.png');
		background-repeat: no-repeat;
		vertical-align: center;
		display: block;
		
		.confirm-dialog-message {
			padding-left: 40px;
			display: block;
			font-weight: bold;
			color: red;
		}
	}
	
	.confirm-dialog-stop {
		background-image: url('images/icons/dialog/sign_stop.png');
		background-repeat: no-repeat;
		vertical-align: center;
		display: block;
		
		.confirm-dialog-message {
			padding-left: 40px;
			display: block;
			font-weight: bold;
			color: red;
		}
	}
	
	.config-management {
		.config-group {
			.v-spacing {
				height: 20px;
			}
		}
	}
	
	.button-caption-important {
		font-weight: bold;
	}
	
	.button-caption-error {
		font-weight: bold;
		color: red;
	}

	.constellio-layout-with-border {
	    border: 1px solid lightgray;
	}


	.v-slot-button-toggle-facets {
		height: 100%;
		line-height: 100%;

		.button-toggle-facets {
			height: 100%;
			line-height: 100%;
		}
	}

	.fixed-content-viewer {
		position: fixed;
		width: calc(100% - 500px);
	}

	.base-table {
		.v-table-cell-content {
			vertical-align: middle;
		}
	}
	
	.search-main-container {
		.-facets-sliderpanel {
			position: relative;
			top: -62px;
		}
	}
	
	.-facets-sliderpanel {
		.v-sliderpanel-wrapper {
			.v-sliderpanel-content {
			    position: absolute;
			    height: 10000vh;
				background-color: $valo-menu-background-color;
				padding-left: 6px;
			}
			
			.v-sliderpanel-tab.tab-beginning { 
				background-color: $valo-menu-background-color;
				top: 114px;
			}
		}
		
		.facet-title, .sort-title {
			background-color: $valo-menu-background-color;
		}
		
		.v-radiobutton label {
			color:#000000; 
		}
	}

    .viewable-record-table-panel {
  		//min-height: 2000px;

  		.v-slot-viewable-record-table-panel-view-action-menu-layout {
		    position: absolute;
		    top: -40px;
		    right: -250px;
  		}

  		.table-buttons-layout {
  			//margin-bottom: -36px;
			color: #197de1;
			
			.v-button-icon-only {
				width: inherit;
				text-align: center;
			}

  			.select-deselect-all-button {
  				left: 16px;
  			}

  			.count-label {
			    position: relative;
			    top: 6px;
			    left: 10px;
			    color: #4396ea;
			    //color: #197de1;
			    font-weight: 500;
  			}

  			.previous-button {
  				margin-left: 12px;
  				margin-right: -12px;
  			}
  			
  			.list-mode-button, .table-mode-button {
  				width: 24px;
  			}
  		}

  		.selection-action-menu-bar {
  			.v-menubar-submenu-indicator + .v-menubar-menuitem-caption:after {
				content:url('images/icons/font-awesome/16x16/ellipsis-v-blue.png');
			    position: relative;
			    top: 5px;
			    opacity: 1;
			}

			.v-menubar-menuitem {
				direction: rtl;
				padding-left: 6px;

				.v-icon {
					margin: 0 -6px 0 6px;
					position: relative;
					//top: 2px;
					padding-left: 6px;
				}
			}
  		}

  		.close-button-viewer-metadata-layout {
		    position: absolute;
  		}

  		.close-viewer-button {
  			position: relative;
  			top: -2px;
  			z-index: 2;
  			color: #197de1;
  			font-size: 24px;
  		}

  		.table-buttons-layout {
            border-bottom: 1px solid rgb(213, 213, 213);

            .v-button {
            	z-index: 2;
            }
            
            .action-mode-buttons-layout {
            	float: right;
            }
  		}

  		.viewable-record-table-table-mode {
  			.v-table-row-nullviewer-results-table-tableMode {
  				cursor: pointer;
  			}
  		}

  		.viewable-record-table {
			.v-table-cell-content {
				border: none;
			}

			.v-table-table {
				// box-shadow: none;

				.v-table-cell-content {
		  			border: none;
					vertical-align: top;

					.v-checkbox {
						margin-top: 23px;
					}

					.row-index {
						margin-top: 23px;
					}

					.v-spacing {
						height: 5px;
					}
					
					.v-menubar {
						margin-left: -16px;
					}
				}
  			
			}

  			.search-result-record {
  				// padding-right: 45px;
  				padding-top: 4px; 
  			}

			.search-result-with-checkbox-and-index {
				position: relative;
			    top: -40px;
			    padding-right: 310px;
			    padding-left: 80px;
			}

			.search-result-with-checkbox {
				position: relative;
			    top: -40px;
			    padding-right: 310px;
			    padding-left: 40px;
			}

			.search-result-with-index {
				position: relative;
			    top: -40px;
			    padding-right: 310px;
			    padding-left: 40px;
			}

			.search-result-title {
				padding-top: 6px;
				padding-bottom: 4px;
				//font-size: 18px;
				text-align: left;
				color: #197de1;
				font-weight: bold;
			}
			
			.search-result-title:hover {
				background-color: transparent;
			}
			
			.document-search-result-title {
				padding-top: 0px;
			}

			.search-result-highlights {
				em {
					font-weight: bold;
					font-style: normal;
				}

				// margin-bottom: 10px;
				white-space: normal;
				display: inline-block;
				line-height: normal;
				padding-top: 5px;
			}

			.metadata-caption, .metadata-value {
				font-size: 14px;
				//padding: 3px 0px;
				line-height: 1.7em;
			}
			
			.metadata-caption {
				font-weight: 700;
			}

			.metadata-value {
				display: block;
				position: relative;
				top: -24px;
				left: 250px;
				padding-right: 250px;
				margin-bottom: -24px;
				
				.v-icon {
					position: relative;
					left: -2px;
					margin-right: -2px;
				}
			}

			.v-slot-search-result-elevation-buttons {
				position: relative;
				margin-bottom: -35px;
			}
			
			.search-result-elevation, .search-result-exclusion {
				width: auto;
				position: relative;
				float: right;
				top: -4px;
				margin-bottom: -35px;

				.v-button-caption {
					display: none;
				}
			}
			
			.search-result-elevation {
				right: 12px;
			}

			.search-result-exclusion {
				right: -24px;
			}
			
			.search-result-elevation:hover, .search-result-exclusion:hover {
				text-decoration: none;
			}

  			.v-table-body {
  				border: none;

	  			.v-table-cell-content {
	  				border: none;
	  			}

	  			.v-table-cell-content-nullviewer-results-table-listMode-searchResult {
	  				vertical-align: top;
	  			}
  			}

  		}

		.viewable-record-table [class*="-row"].v-selected {
			outline: 1px solid #197de1;
    		outline-offset: -1px;

    		background-color: inherit;
    		background-image: inherit;
    		background-origin: inherit;
    		text-shadow: inherit;
    		color: inherit;
			//background-color: #197de1;
			//background-image: -webkit-linear-gradient(top, #1b87e3 2%, #166ed5 98%);
			//background-image: linear-gradient(to bottom,#1b87e3 2%, #166ed5 98%);
			//background-origin: border-box;
			//color: #ecf2f8;
			//text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05);
		}

		.viewable-record-table-compressed {
	
			.search-result-title {
				width: 350px;
			}
		}

		.viewable-record-table-table-mode {
			//.constellio-layout .content-footer-wrapper .content-footer .content-view-wrapper .main-component-wrapper .main-component .search-result-table .v-table-table .v-table-cell-content
			.v-table-cell-content {
				vertical-align: middle;
			}
		}

    }

	.collapsible-horizontal-splitpanel {
		padding-bottom: 2px;
		.v-panel {
			.v-scrollable {
				overflow: auto;
			}
		}
		.v-splitpanel-hsplitter-collapsible-horizontal-splitpanel {
			width: 10px;

		    text-align: center;
		    white-space: nowrap;
		    outline: medium none;
		    cursor: pointer;
		    color: rgb(25, 25, 25);
		    font-weight: 400;
		    border-radius: 4px 4px 4px 4px;
		    border-width: 1px 1px 2px 1px;
		    border-style: solid;
		    border-right: 1px solid rgb(197, 197, 197);
		    border-left: 1px solid rgb(197, 197, 197);
		    -moz-border-top-colors: none;
		    -moz-border-right-colors: none;
		    -moz-border-bottom-colors: none;
		    -moz-border-left-colors: none;
		    border-image: none;
		    border-color: rgb(197, 197, 197) rgb(197, 197, 197) rgb(188, 188, 188);
		    background-color: rgb(250, 250, 250);
		    background-image: linear-gradient(to bottom, rgb(250, 250, 250) 2%, rgb(239, 239, 239) 98%);
		    /* box-shadow: 0px 1px 0px white inset, 0px -1px 0px rgb(231, 231, 231) inset, 0px 2px 3px rgba(0, 0, 0, 0.05); */
		    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05);
		}

		.v-splitpanel-second-container-collapsible-horizontal-splitpanel {
			padding-left: 12px;
		}

		.v-splitpanel-hsplitter-collapsible-horizontal-splitpanel:before {
	    	position: absolute;
			top: 50%;
	     	margin-left: -4px;
		}

		.v-splitpanel-hsplitter-collapsible-horizontal-splitpanel-second-visible:before {
		    content: "\f101";
		}

		.v-splitpanel-hsplitter-collapsible-horizontal-splitpanel-second-hidden:before {
		    content: "\f100";
		}
	}

    .constellio-layout {
		background-color: white;
		font-weight: 400;

	    .sidebar {
	    	overflow-y: hidden;
	    }

		.header {
			height: $header-height;
	    	text-align: left;
	    	background-color: #fafafa;
	    	width: 100%;
	    	z-index: 2;
			border-bottom: 1px solid gray;

			.header-logo {
				cursor: pointer;
				margin-top: -5px;
				margin-left: 5px;
				padding-right: 15px;
			}

			.header-search {
				margin-top: 15px;
				height: 37px;
				border-radius: inherit;
				border-right: none;
			}

			.header-search:focus {
				box-shadow: none;
				border-top: 1px solid #c5c5c5;
				border-left: 1px solid #c5c5c5;
				border-bottom: 1px solid #c5c5c5;
			}

			.v-slot-header-show-advanced-search-button {
				width: 20px;
			}

			.header-show-advanced-search-button {
				margin-top: 15px;
			    background-color: white;
				border-radius: inherit;
				border-left: none;
				border-top: 1px solid #c5c5c5;
				border-right: 1px solid #c5c5c5;
				border-bottom: 1px solid #c5c5c5;
				padding: 0;
				width: 20px;
			}

			.header-show-advanced-search-button-popup-hidden:before {
			    content: "\f0d7";
				margin-top: 7px;
			    margin-left: -8px;
			}

			.header-show-advanced-search-button-popup-visible:before {
			}

			.header-show-advanced-search-button:focus:after {
				box-shadow: none;
				border: none;
			}

			.header-show-advanced-search-button:after {
				border: none;
			}

			.header-search-button {
				border-radius: inherit;
				margin-top: 15px;
			}

			.header-search-button:after {
				border: none;
			}

			.header-popup {
			}
			
			.header-selection-button {
				position: fixed;
				right: 80px;
				margin-top: 15px;
			}
			
			.header-collection-menu {
				position: fixed;
				right: 130px;
				padding-top: 15px;
				padding-right: 6px;
			}
			
			.header-action-menu {
				position: fixed;
				right: 10px;
				margin-top: 15px;
			}

			.search-button {
				.v-button-caption {
					display: none;
				}
			}

			.search-button:before {
				content: "\f002";
				margin-top: 5px;
			    margin-left: -14px;
			}
		}

	    .content-footer-wrapper {
	    	overflow-y: auto;

		    .content-footer {

				.content-view-wrapper {
					.v-panel-content-content-view-wrapper {
						overflow-x: hidden;
					}

					.main-component-wrapper {
					    .main-component {
					    	top: -10px;
							padding-left: 5px;

							.v-caption-list-add-remove {
								padding-left: 0px;
								font-weight: bold;
							}

							.list-add-remove {
						    	border: 1px solid lightgray;
						    	padding: 2px;
						    	text-align: center;
						    	
						    	.v-slot-list-add-remove-table {
						    		width: 100%;
								
									.reference-display {
										padding-right: 0px;
									}
						    	}
							}
								
							.record-comments-layout {
								width: 100%;
							}
							
							.v-has-caption {
								width: 100%;
								
								.list-add-remove-comment {
									width: 100%;
								}
							}
							
							.reference-display {
            					white-space: normal;
            					height: inherit;
							}

						   	.reference-display-link {
						   		color: #197de1;
						   	}

							.visited-link {
								color: #551A8B;
							}

							.agent-action-link {
            					white-space: normal;
            					height: inherit;
							}
							
							.download-content-version-link {
            					white-space: normal;
            					height: inherit;
							}

							.copy-retention-rule-table-medium-types-field {
								border: none;
								padding: 0;
							}

							.v-caption-display-value-retentionRule_default_copyRetentionRules {
								padding-left: 0px;
								font-weight: bold;
							}

							.display-value-retentionRule_default_copyRetentionRules {
								padding-left: 0px;
							}

							.spell-checker {
								.spell-checker-message {
									// font-weight: bold;
								}

								.spell-checker-suggestion {
									padding-left: 5px;
								}
							}
							
							.search-result-and-facets-container {
								.search-result-area {
								}
							
								.v-slot-search-result-facets {
									
									.search-result-facets {
									}	
								}
							
							} 

							.search-result-detailed-table {
								* {
									border: none;
								}

								.v-table-table {
									box-shadow: none;
								}

								.v-table-row-odd {
									background-color: #fff;
								}
							}

							.viewable-record-search-result-table-panel {
                            	border-top: 1px solid rgb(213, 213, 213);
							}

						   	.task-table {
						   		.reference-display-link {
						   			color: inherit;
						   		}
						   	}
					    }

					    .facet-box {
                            border: 1px solid #3a434d;
	    					border-radius: 4px;
	    					background-color: #414B56;
							background-image: linear-gradient(to left,#38414a 0%, #414B56 9px);

							.facet-title {
								color: #fff;
								font-size: 0.9em;
								padding-left: 13px;
							}

							table * {
								border: none;
							}
							
							.v-table-cell-content {
								height: auto;
								padding-top: 2px;
							}

							.v-table-row-odd {
								background-color: #fff;
							}

					    	.v-checkbox > label {
					    		max-width: 260px;
					    		word-break: break-word;
					    		white-space: normal;
					    		display: inline-block;
					    		color: #197de1;
					    		font-size: 0.8em;
					    		padding-right: 10px;

					    		&:hover {
					    			text-decoration: underline;
					    		}
					    	}
					    }

					    .facet-box-viewer {
							//border-radius: 4px 4px 4px 4px;
							border: 1px solid rgb(213, 213, 213);
							background-color: #fafafa;
							background-image: -webkit-linear-gradient(top, #fafafa 2%, #f6f6f6 98%);

							.facet-title {
								//color: #fff;
								font-size: 0.9em;
								padding-left: 13px;
								border-bottom: 1px solid rgb(213, 213, 213);
							}

							table * {
								border: none;
							}

							.v-table-body {
								border: none;
							}

							.v-table-cell-content {
								height: auto;
								padding-top: 2px;
							}

							.v-table-row-odd {
								background-color: #fff;
							}

					    	.v-checkbox > label {
					    		max-width: 260px;
					    		word-break: break-word;
					    		white-space: normal;
					    		display: inline-block;
					    		color: #197de1;
					    		font-size: 0.8em;
					    		padding-right: 10px;

					    		&:hover {
					    			text-decoration: underline;
					    		}
					    	}
					    }

					    .sort-box {
                            border: 1px solid #3a434d;
	    					border-radius: 4px;
	    					background-color: #414B56;
							background-image: linear-gradient(to left,#38414a 0%, #414B56 9px);

							.sort-title {
								color: #fff;
								font-size: 0.9em;
								padding-left: 13px
							}

							.sort-box-content {
								font-size: 0.8em;
								background: #fff;
								padding-left: 13px;
								padding-top: 8px;
								padding-bottom: 4px;
								padding-right: 13px;
							}
                        }

						.sort-box-viewer {
							//border-radius: 4px 4px 4px 4px;
							border: 1px solid rgb(213, 213, 213);
							background-color: #fafafa;
							background-image: -webkit-linear-gradient(top, #fafafa 2%, #f6f6f6 98%);

							.sort-title {
								//color: #fff;
								font-size: 0.9em;
								padding-left: 13px;
								border-bottom: 1px solid rgb(213, 213, 213);
							}

							.sort-box-content {
								font-size: 0.8em;
								background: #fff;
								padding-left: 13px;
								padding-top: 8px;
								padding-bottom: 4px;
								padding-right: 13px;
							}
						}

					    .records-management, .display-folder {
					    	.v-tree-node-caption:hover {
				    			color: white;
				    			background-color: #197de1;
					    	}
					    }

						.display-folder-upload-field {
							margin-bottom: -20px;

							.v-multifileupload-dropzone {
								display: none;
							}

							.v-button {
								display: none;
							}

							.base-upload-field-table {
								display: none;
							}
						}

					    .action-menu-layout {
						    width: 225px;
						    border: 1px solid #3a434d;
						    border-radius: 4px;

							.v-button {
								padding-left: 8px;
						    	color: white;
						    	font-weight: normal;
								text-decoration: none;
								font-size: 14px;
								width: 100%;
								border-radius: 0;
								text-align: left;
								border: none;

							    background-color: #414B56;
								//background-image: -webkit-linear-gradient(right, #38414a 0%, #414B56 9px);
								background-image: linear-gradient(to left,#38414a 0%, #414B56 9px);
							}

						    .v-button:hover {
						    	color: #197de1;
							    background-color: #3a434d;
						    }

						    .v-button:after {
								box-shadow: none;
								border: none;
						    }

						    .v-disabled:hover {
						    	color: white;
							    background-color: #414B56;
						    }
					    }

						.v-caption-action-menu-bar {
							display: none;
						}

					    .action-menu-bar {
					    	z-index: 2000;
					    	position: absolute;
					    	//top: -40px;
					    	right: 30px;
					    	
				  			.v-menubar-submenu-indicator + .v-menubar-menuitem-caption:after {
								content: "";
							    position: relative;
							    top: 5px;
							    margin-left: -2px;
							    opacity: 1;
							}
				
							.v-menubar-menuitem {
								direction: rtl;
								padding-left: 6px;
				
								.v-icon {
									margin: 0 0px 0 6px;
									position: relative;
									//top: 2px;
									padding-left: 6px;
								}
							}
						}

						.v-slot-main-action-menu-buttons-layout {
							position: relative;
							right: 64px;
							margin-top: -17px;

							.download-document-link {
								padding-top: 7px;
							}
						}

						.viewer-metadata-panel {
							position: relative;
							top: -48px;

							.action-menu-bar {
								top: -58px;
								right: 28px;
							}

							//.v-tabsheet-scroller {
							//	  width: 110px;
							//}

							.v-slot-main-component {
								position: relative;
								margin-top: 44px;
							}
						}

						.nested-view.viewer-metadata-panel {
                            top: 0px;
						}

						.no-caption-action-menu-bar .v-menubar-submenu-indicator + .v-menubar-menuitem-caption:after {
							display:none;
						}

					}
				}

			    .v-slot-footer {
			    	padding-top: 5px;
			    	height: 50px;
			    	text-align: center;
			    	vertical-align: center;

			    	.v-link {
			    		text-decoration: none;
			    	}
			    }

			    .v-slot-license {
			    	padding-top: 5px;

			    	.v-label {
			    		text-align: center;
			    	}
			    }
		    }
	    }

	    .view-group {
	    	text-align: center;

	    	.v-button {
	    		width: 160px;

	    		.v-button-wrap {
	    			white-space: normal;
	    		}
	    	}

		    .v-button:focus:after {
				box-shadow: none;
				border: none;
			}
	    }

		.v-table-cell-content-permission-dirty {
	    	background-color: #999;
	    }

		// Admin RM Module
	    .user-management {
	    	text-align: center;

	    	.v-button {
	    		width: 160px;

	    		.v-button-wrap {
	    			white-space: normal;
	    		}
	    	}
	    }

	    .v-tabsheet-display-folder {
			position: relative;
			//top: -38px;
	    }

    }
		
	.search-view {
		.viewable-record-table-panel .viewable-record-table {
			.search-result-with-elevation-buttons {
				.search-result-title {
					padding-right: 60px;
				}
			}
		}
	}

    .v-ui[width-range~="1101px-"] {
		.v-menubar-user-menu {
			background: #3a434d;
			padding-top: 6px;
	    	height: 76px;
	    	text-align: left;
	    	
	    	.v-menubar-menuitem {
	    		top: 25%;
	    		font-size: 0.8em;
	    		
				.v-menubar-menuitem-caption {
					float: left;
					text-align: left;
				}
	    		
	    		.v-icon {    
	    			float: left;
    				margin-left: 5px;
	    		}
	    	}
    	}

		.valo-menu {
			.valo-menu-part {
			    //min-width: 110px;
			    min-width: 181px;
			    max-width: 181px;
			    padding-bottom: inherit;
			}
		}	   

    	.header {
			padding-right: 30px;

			.header-search {
				margin-left: 5px;
				//width: 600px;
			}
    	}
    	
	    .main-component-wrapper {
	    	min-height: 700px;
	    }
	    
	    .v-panel-content-content-view-wrapper {
	    	overflow-y: hidden;
	    }

    	.v-table {
	    	.v-scrollable {
	    		overflow-x: hidden;
	    	}
    	}
    	
    	.stats-table-layout {
	    	.v-table {
		    	.v-scrollable {
		    		overflow-x: auto;
		    	}
	    	}
    	} 

    	.stats-table-layout {
	    	.v-table {
		    	.v-scrollable {
		    		overflow-x: auto;
		    	}
	    	}
    	}

    	.folder-content-table {
	    	.v-scrollable {
	    		overflow-x: auto;
	    	}
    	}

		.batch-processes {
	    	.v-table {
		    	.v-scrollable {
		    		overflow-x: auto;
		    	}
	    	}
    	}

	    //.constellio-menu-system-state-button {
	   	//	position: absolute;
		//	bottom: 80px;
	    //}

        .action-menu-wrapper {
            padding-right: 260px;

			.back-button {
				position: fixed;
				top: 50px;
			}

			.base-display {
				.v-slot-display-value {
					.display-value {
            			padding-right: 300px;
            			
            			.agent-link {
            				padding-right: 26px;
            			}
					}
				
					.v-label-display-value {
            			margin-right: 300px;
					}
					
					.reference-display {
            			padding-right: 300px;
					}
				}

				.v-slot-list-add-remove-comment {
					width: 100%;
				}
			}
	
			.retention-rule-display {
				
				.v-slot-display-value {
				
					.display-value-retentionRule_default_copyRetentionRules, .display-value-retentionRule_default_documentCopyRetentionRules {
						padding-right: 0px;
					}
					
				}
			}
        }
        
	    .action-menu {
	        position: fixed;
	        top: $header-height;
	        right: 30px;
	        margin-top: 70px;
	    }

	    .action-menu-bar-layout {
			position: absolute;
			right: 20px;
	    }
	    
	    .not-nested-action-menu-bar-layout {
	    	margin-top: -30px;
	    }

  		.viewable-record-table-panel {
	  		.action-menu-bar-layout {
	  			top: 10px;
	  			right: 50px;
	  		}
  		}

	    .constellio-layout .content-footer-wrapper .content-footer .content-view-wrapper .main-component-wrapper .action-menu-bar-layout .action-menu-bar {
			top: inherit;
			right: -22px;
	    }

    	.v-slot-suggestions-summary-results {
            padding-right: 320px;
    	}
	    
		// Admin ES Module 

		.connector-report-table {
	    	.v-scrollable {
	    		overflow-x: auto;
	    	}
		}
    }

    .v-ui[width-range~="801-1100px"] {

		.valo-menu {
			.valo-menu-part {
				.valo-menu-item {
					//line-height: 0.3em;
				
					.v-icon {
			        	//font-size: 1.4em;
			        	font-size: 1em;
					}
			
					&.selected {
						background: $v-selection-color;
					}

    				[class*="caption"] {
    					display: none;
    				}
				}
			}
		}	
    
		.responsive-button {
			[class*="caption"] {
				display: none;
			}
		}
		
		.v-menubar-user-menu {
			background: #3a434d;
			position: absolute;
			bottom: 0px;
			width: 100%;
    	}
		
		.valo-menu-constellio-version {
			margin-top: 110px;
			white-space: normal;
			line-height: initial;
		}

    	.sidebar {
    		overflow-y: hidden;
    	}
		
    	.header {
			padding-right: 30px;

			.header-logo {
			}

			.v-slot-header-search {
			}

			.header-search {
				//width: 500px;
			}
    	}

	    .main-component-wrapper {
	    	min-height: 600px;
	    }

	    .v-panel-content-content-view-wrapper {
	    	overflow-y: hidden;
	    }

    	.v-table {
	    	.v-scrollable {
	    		overflow-x: hidden;
	    	}
    	}

    	.folder-content-table {
	    	.v-scrollable {
	    		overflow-x: auto;
	    	}
    	}

        .action-menu-wrapper {
            padding-right: 260px;

			.back-button {
				position: fixed;
				top: 50px;
			}

			.base-display {
				.base-display-main-layout {
					width:100%;
            		padding-right: 260px;
            		
					.v-slot-display-value {
					}
	
					.v-slot-list-add-remove-comment {
						width: 100%;
					}
				}
			
			}
        }

	    .action-menu {
	        position: fixed;
	        top: $header-height;
	        right: 20px;
	        margin-top: 70px;
	    }

	    .action-menu-bar-layout {
			position: absolute;
			right: 20px;
	    }
	    
	    .not-nested-action-menu-bar-layout {
	    	margin-top: -30px;
	    }

  		.viewable-record-table-panel {
	  		.action-menu-bar-layout {
	  			top: -60px;
	  			right: 50px;
	  		}
  		}
		
		.viewable-record-table-panel .viewable-record-table .metadata-caption, .viewable-record-table-panel .viewable-record-table .metadata-value {
			display: none;
		}

	    .constellio-layout .content-footer-wrapper .content-footer .content-view-wrapper .main-component-wrapper .action-menu-bar-layout .action-menu-bar {
			top: inherit;
			right: -22px;
	    }

    	.v-slot-suggestions-summary-results {
            padding-right: 320px;
    	}
	    
		// Admin ES Module 

		.connector-report-table {
	    	.v-scrollable {
	    		overflow-x: auto;
	    	}
		}
		
		.task-management-view {
			.v-slot-task-action-buttons {
				top: 38px;
			}
		}	

	}

    .v-ui[width-range~="0-800px"] {
		
		.valo-menu-constellio-version {
			display: none;
		}

		.responsive-button {
			[class*="caption"] {
				display: none;
			}
		}

    	.header {
			.header-logo {
				display: none;
			}
			
			.header-search {
				//width: 270px;
			}
			
			.header-selection-button {
				top: 53px;
				right: 68px;
			    z-index: 1000;
			    margin: 0;
			}
			
			.header-collection-menu {
				top: 53px;
				right: 116px;
			    z-index: 1000;
			    margin: 0;
			    padding-top: 0px;
			}
			
			.header-action-menu {
				top: 53px;
				right: 2px;
			    z-index: 1000;
			    margin: 0;
			}
    	}

	    .main-component-wrapper {
	    	min-height: 500px;
	    }

	    .v-panel-content-content-view-wrapper {
	    	overflow-y: hidden;
	    }

		.back-button {
			right: 0px;
			.v-button-caption {
				display: none;
			}
		}

		.search-button {
			.v-button-caption {
				display: none;
			}
		}

		.search-button:before {
			content: "\f002";
			margin-top: 5px;
		    margin-left: -14px;
		}

    	.v-slot-action-menu {
	        padding: 10px;
    	}
    	
    	.action-menu-bar-layout {
		    position: absolute;
		    right: 20px;
		    margin-top: -24px;
		}
		
		.constellio-layout .content-footer-wrapper .content-footer .content-view-wrapper .main-component-wrapper .action-menu-bar {
			top: inherit;
			right: inherit;
		}
		
		.task-management-view {
			.v-slot-task-action-buttons {
				top: 0px;
			}
		}	
		
		.viewable-record-table-panel .viewable-record-table .metadata-caption, .viewable-record-table-panel .viewable-record-table .metadata-value {
			display: none;
		}

		.xbreadcrumbs {
			font-size: 16px;
			padding-right: 40px;
	
			.v-link a span,.xbreadcrumbbutton .v-button-caption {
				font-size: 0.9em;
			}
		}
    }

    .v-progressbar {
		width: 150px;
	}

	.v-progressbar-wrapper {
		height: 7px;
		border: 1px solid #197de1;
	}
	
	.v-progressbar-indicator {
		height: 7px;
		background: #197de1;
	}
	
	div.v-progressbar-indeterminate {
		height: 20px;
		width: 20px;
		background: #fff url(common/img/ajax-loader-medium.gif) no-repeat 50%;
		border-radius: 4px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
	}
	
	.v-progressbar-indeterminate .v-progressbar-wrapper, .v-progressbar-indeterminate .v-progressbar-indicator, .v-progressbar-indeterminate-disabled .v-progressbar-wrapper, .v-progressbar-indeterminate-disabled .v-progressbar-indicator {
		display: none;
	}
	
	div.v-progressbar-indeterminate-disabled {
		height: 20px;
		width: 20px;
		background: transparent;
	}
	
	.v-progressindicator {
		width: 150px;
		background-color: #414B56;
	}
	
	.v-progressindicator-wrapper {
		height: 7px;
		border: 1px solid #197de1; 
	}
	
	.v-progressindicator-indicator {
		height: 7px;
		background: #197de1;
	} 
	
	div.v-progressindicator-indeterminate {
		height: 20px;
		width: 20px;
		background: #fff url(common/img/ajax-loader-medium.gif) no-repeat 50%;
		border-radius: 4px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
	}
	
	.v-progressindicator-indeterminate .v-progressindicator-wrapper, .v-progressindicator-indeterminate .v-progressindicator-indicator, .v-progressindicator-indeterminate-disabled .v-progressindicator-wrapper, .v-progressindicator-indeterminate-disabled .v-progressindicator-indicator {
		display: none;
	}
	
	div.v-progressindicator-indeterminate-disabled {
		height: 20px;
		width: 20px;
		background: transparent;
	}

	.v-filterselect-rtl {
		.v-filterselect-button {
			//direction: rtl;
		}

		.v-filterselect-input {
			direction: rtl;
		}
	}

	.v-filterselect-item-rtl {
		direction: rtl;
	}

	.right-to-left {


		.user-display {
			.user-display-name {
				padding-left: inherit;
				padding-right: 4px;
			}
		}

		.v-table {
	    	.v-table-body {
	    		.v-button {
	    			direction: rtl;
	    		}

				.v-disabled {
					text-align: right;
				}

				.v-checkbox {
					> label {
						margin-right: 10px;
					}
				}
			}
		}

	    .v-table-cell-content-file-icon {
			background-position: 99% center;

			.v-table-cell-wrapper {
				text-align: right;
				left: inherit;
				right: 20px;
			}

		}

		.v-table-cell-content-file-icon-folder.v-table-cell-content-file-icon {
			.v-table-cell-wrapper {
				right: 30px;
			}
		}

		.v-slot-v-filterselect-suggestmenu {
			.v-has-caption {
				direction: rtl;
			}
		}

		.v-filterselect-button {
			direction: rtl;
		}

		.v-filterselect-input {
			direction: rtl;
		}

		.v-widget {
			text-align: right;
		}

		.v-textfield {
			direction: rtl;
		}

		.v-radiobutton {
    		margin-right: 25px;
    	}

		.v-radiobutton label {
    		margin-right: 13px;
    	}

		.v-radiobutton > input {
			left: inherit;
			right: -16px;
		}

		.v-radiobutton > input:checked ~ label:after {
			left: inherit;
			right: -13px;
		}

		.v-radiobutton > input ~ label:before, .v-radiobutton > input ~ label:after {
			left: inherit;
			right: -19px;
		}

		.v-checkbox {
			//padding-left: 25px;
			padding-left: inherit;
		}

		.v-checkbox > label {
			//margin-right: 29px;
			margin-right: 25px;
		}

		.v-checkbox > input {
			left: 0.2em;
		}

		.v-checkbox > input ~ label:before, .v-checkbox > input ~ label:after {
			left: inherit;
			right: 0;
		}

		.h1 {
		    padding-left: 0px;
		    padding-right: 10px;
		}

		.selection-table {
			.v-table-cell-content {
				.v-checkbox > input ~ label:before, .v-checkbox > input ~ label:after {
					left: 0;
					right: inherit;
				}
			}
		}
		
		.v-checkbox-small {
			padding-left: 21px;
		}
		
		.v-checkbox-small > input {
			left: 0.2em;
		}
		
		.v-checkbox-small > input ~ label:before, .v-checkbox-small > input ~ label:after {
			left: 0;
		}
		
		.v-checkbox-large {
			padding-left: 29px;
		}
		
		.v-checkbox-large > input {
			left: 0.2em;
		}
		
		.v-checkbox-large > input ~ label:before, .v-checkbox-large > input ~ label:after {
			left: 0;
		}

		.icon-only {
			text-align: center;
		}

		.task-management-view {
			position: relative;
			top: -10px;

			.v-slot-task-action-buttons {
				float: left;
				padding-left: 10px;
				direction: rtl;
			}
		}

		.task-table-layout {
			.task-table {
				.task-details {
					.v-slot-task-details-add-comment-button {
						position: relative;
						float: left;
						top: 60px;
					}

					.task-details-add-comment-button {
						.v-button-caption {
							margin-right: 7px;
						}
					}
				}
			}

			.task-table [class*="-row"].v-selected {
				outline: 1px solid #197de1;
	    		outline-offset: -1px;

	    		background-color: inherit;
	    		background-image: inherit;
	    		background-origin: inherit;
	    		text-shadow: inherit;
	    		color: inherit;
				//background-color: #197de1;
				//background-image: -webkit-linear-gradient(top, #1b87e3 2%, #166ed5 98%);
				//background-image: linear-gradient(to bottom,#1b87e3 2%, #166ed5 98%);
				//background-origin: border-box;
				//color: #ecf2f8;
				//text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05);
			}

			.clickable-row {
		    	.v-table-body {
		    		tr, .reference-display {
		    			cursor: default;
		    		}

					&:hover {
						border-color: #197de1;
	    				color: red;
	    				background-color: white;
	    				text-decoration: none;
	    			}
		    	}
			}
		}

		.content-footer-wrapper {
			direction: rtl;
			
			.content-footer {
				direction: ltr;
				
				.content-view-wrapper {
					padding-right: 10px;

					.main-component-wrapper {
						.main-component {
							.search-result-table {
								.search-result-title {
									text-align: right;
								}
							}
						}
					}
				}

				.search-result-title {
					.v-icon {
						padding-left: 8px;
						padding-right: 2px;
					}
				}

				.search-result-highlights {
					em {
						text-decoration: underline;
					}
				}
				
				.search-result-summary {
					direction: rtl;
				}
				
				.v-slot-footer {
					direction: rtl;
				}
				
				.v-slot-license {
					direction: rtl;
				}
			}
		}
	
		.i18n-horizontal-layout-right-to-left {
			
			//float: right;
			//direction: rtl;
			text-align: right;
	
			.v-widget {
				// text-align: right;
			}
	
			.v-slot {
				text-align: right;
			}
			
		}	
	
		.base-display {
			.display-value {
				text-align: right;
			}
		}

		.back-button {
			right: inherit;
			left: 20px;
			direction: rtl;
			
			img {
				transform: rotate(180deg);
			}
		}
		
		.xbreadcrumbs {
			direction: rtl;
		
			LI {
				transform: rotate(180deg);
				
				.v-button {
					transform: rotate(180deg);
	
					.v-icon {
						float: right; 
						padding-left: 8px;
					}
				}
			}
		}
		
		.v-caption {
			text-align: right;
			
			.v-captiontext {
				//direction: ltr;
			}
		}
		
		.v-tabsheet {
			text-align: right;
			
			.v-tabsheet-tabs {
				direction: rtl;
			}
			
			.v-tabsheet-tabsheetpanel {
				//text-align: left;
		
				.v-widget {
					//text-align: left;
				}
			}
		}
		
		.v-tree {
			direction: rtl;
		
			.v-tree-node-children {
				padding-left: 0px;
				padding-right: 19px;
			}
		}
		
		// \f0da : caret-right
		// \f0d9 : caret-left
		// \f0d8 : caret-up
		// \f0d7 : caret-down
		
		.v-tree-node-expanded > .v-tree-node-caption > div:before {
			content: "\f0da";
		}
		
		.v-tree-node-caption > div:before {
			content: "\f0d9";
		}
		
		.v-tree-node {
			//font-style: italic;
		}
		
		.v-tree-node-caption {
			direction: rtl;

			span {
				padding-right: inherit;
			}
		}

		.v-treetable {
			.v-table-cell-wrapper {
				direction: rtl;

				.v-menubar {
					direction: ltr;
				}

				.v-treetable-treespacer {
					margin-left: inherit;
					margin-right: -14px;
				}

				.v-treetable-node-closed:before {
					content: "\f0d9";
				}
			}
		}

		.v-treetable {
			.v-table-cell-wrapper {
				direction: rtl;

				.v-menubar {
					direction: ltr;
				}

				.v-treetable-treespacer {
					margin-left: inherit;
					margin-right: -14px;
				}

				.v-treetable-node-closed:before {
					content: "\f0d9";
				}
			}
		}

    	.v-slot-search-result-facets {
    		.facet-box {
    			direction: rtl;
    			
    			.facet-title {
    				direction: ltr;
					padding-left: 0px;
					padding-right: 13px;
    			}

				label {
					direction: ltr;
				}

				.facet-value > label {
					margin-right: 25px;
				}
    		}
    	}
		
		.header {

			.header-search {
				border-right: 1px solid #c5c5c5;
				border-left: none;
			}

			.header-search:focus {
				border-left: none;
				border-right: 1px solid #c5c5c5;
			}
		
			.header-show-advanced-search-button {
				text-align: center;
				border-right: none;
	
				.v-widget {
					text-align: inherit;
				}
			}
			
			.header-selection-button {
				right: inherit;
				left: 80px;
			}
			
			.header-collection-menu {
				right: inherit;
				left: 150px;
			}
			
			.header-action-menu {
				right: inherit;
				left: 10px;
			}
		}

		.constellio-layout {
		    .content-footer-wrapper {
			    .content-footer {
					.content-view-wrapper {
						.main-component-wrapper {
							.action-menu {
								.v-button {
									text-align: right;
								}
							}
						
						    .main-component {
								padding-left: inherit;
								padding-right: 5px;
							}
						}
					}
				}
			}	
		}

		.popupContent {
		
			.gwt-MenuBar {
				overflow-y: auto;
			}

			.action-menu {
		        right: inherit;
		        left: 20px;
	
				.v-button {
					text-align: right;
				}
	
		    }

			.v-caption-action-menu-bar {
				display: none;
			}

		    .action-menu-bar {
		    	z-index: 2000;
		    	position: absolute;
		    	top: -40px;
		    	right: 30px;
			}

			.action-menu-wrapper {
	            padding-right: 10px;
	            padding-left: 260px;
	
				.base-display {
					.v-slot-display-value {
						.display-value {
	            			padding-right: inherit;
	            			//padding-left: 300px;
	            			
	            			.agent-link {
	            				padding-right: inherit;
	            				padding-left: 26px;
	            			}
						}
					
						.v-label-display-value {
	            			margin-right: inherit;
	            			margin-left: 300px;
						}
						
						.reference-display {
	            			padding-right: inherit;
	            			//padding-left: 300px;
						}
					}
						
					.record-comments-layout {
						.v-slot-list-add-remove-comment {
							.list-add-remove-comment {
								padding-left: inherit;
								padding-right: 0px;
							}
						}
					}	
				}
		
				.retention-rule-display {
					.v-slot-display-value {
						.display-value-retentionRule_default_copyRetentionRules, .display-value-retentionRule_default_documentCopyRetentionRules {
							padding-right: inherit;
							padding-left: 0px;
						}
					}
				}
	        }
	        
		}
		
	}	

    .v-ui[width-range~="1101px-"].right-to-left {
	
    	.header {
			padding-right: inherit;
			padding-left: 225px;

			.header-search {
				margin-left: inherit;
				margin-right: 5px;
			}
    	}
    	
        .action-menu-wrapper {
            padding-right: inherit;
            padding-left: 260px;
        
		    .action-menu {
		    	direction: rtl;
		        right: inherit;
		        left: 20px;
		        
				.v-button {
					text-align: right;
				}
		    }

			.base-display {
				.v-slot-display-value {
					.display-value {
            			padding-right: inherit;
            			//padding-left: 300px;
            			
            			.agent-link {
            				padding-right: inherit;
            				padding-left: 26px;
            			}
					}
				
					.v-label-display-value {
            			margin-right: inherit;
            			margin-left: 300px;
					}
					
					.reference-display {
            			padding-right: inherit;
            			//padding-left: 300px;
					}
				}
			}
	
			.retention-rule-display {
				
				.v-slot-display-value {
				
					.display-value-retentionRule_default_copyRetentionRules, .display-value-retentionRule_default_documentCopyRetentionRules {
						padding-right: inherit;
					}
					
				}
			}
        }

    	.v-slot-suggestions-summary-results {
            padding-right: inherit;
            padding-left: 320px;
    	}
    	
    	.v-slot-search-result-facets {
    		float: left;
    	}
    }

    .v-ui[width-range~="801-1100px"].right-to-left {

    	.header {
			padding-right: inherit;
			padding-left: 95px;

    	}

        .action-menu-wrapper {
            padding-right: inherit;
            padding-left: 260px;

			.base-display {
				.base-display-main-layout {
            		padding-right: inherit;
            		padding-left: 260px;
				}
			
			}
        }

	    .action-menu {
	        right: inherit;
	        left: 20px;
	    }

    	.v-slot-suggestions-summary-results {
            padding-right: inherit;
            padding-left: 320px;
    	}
    	
    	.v-slot-search-result-facets {
    		float: left;    		
    	}
	    
	}

    .v-ui[width-range~="0-800px"].right-to-left {

    	.header {
			.header-selection-button {
				right: inherit;
				left: 220px;
			}
			
			.header-collection-menu {
				right: inherit;
				left: 290px;
			}
			
			.header-action-menu {
				right: inherit;
				left: 150px;
			}
    	}

		.base-display {
		    .v-slot-display-caption {
		    	float: right;
			}

		    .v-slot-display-value {
		    	float: right;
		    }
	    }

		.back-button {
			right: inherit;
			left: 0px;
		}

		.search-button:before {
		    margin-left: inherit;
		    margin-right: -14px;
		}

    }

}

.warningLabel {
  color: #ff0000;
}

.autocomplete-suggestions-rtl {
	.autocomplete-suggestion {
		.autocomplete-suggestion-content {
			.autocomplete-suggestion-text {
				.autocomplete-suggestion-value {
					text-align: right;
				}
			}
		}
	}
}

.v-slot-list-add-remove-comment {
	.v-has-caption {
		width: 100%;

		.list-add-remove-comment {
			width: 100%;
		}
	}
}
